/* styles.css */
.imageButton {
	position: relative;
	height: 200px;
}

.imageButton:hover,
.imageButton.Mui-focusVisible {
	z-index: 1;
}

.imageButton .imageBackdrop {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.4;
	transition: opacity 250ms ease-in-out;
}

.imageButton:hover .imageBackdrop,
.imageButton.Mui-focusVisible .imageBackdrop {
	opacity: 0.15;
}

.imageButton .imageMarked {
	height: 3px;
	width: 18px;
	background-color: #fff;
	position: absolute;
	bottom: -2px;
	left: calc(50% - 9px);
	transition: opacity 250ms ease-in-out;
}

.imageButton:hover .imageMarked,
.imageButton.Mui-focusVisible .imageMarked {
	opacity: 0;
}

.imageButton .image {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.imageButton .imageSrc {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center 40%;
}
